数据查询结果{% if morethansampledata %}(共查出{{ queryresultlength }}条。由于篇幅限制，仅展示前{{ sampledatalength }}条){% endif %}:
```json
{{ queryresult }}
```

再次回顾任务: "{{ task }}"。结合数据库结构、SQL语句和SQL查询结果，逐项检查：
1. 数据口径是否一致
2. SQL语句符合编写规范
3. SQL语句使用的字段取值准确
  3.1. 是否在可选值范围内
  3.2. 是否符合格式
4. SQL语句满足任务需求
  4.1. 查询结果的字段不能少于列出任务要求
5. 是否需要修改SQL语句？小幅度优化还是大幅度调整

SQL语句修改规范（如需修改）:
1. 不允许为了追求有效结果而放宽过滤条件。例如：即使未查到任务规定时间的数据，也不允许放宽时间限制。

输出内容:
1. 逐项检查的过程
2. 如果需要修改SQL语句，则输出修改后的SQL语句（使用```sql```代码块）；如果不需要修改，输出"我认为不需要修改"。
{{ "" }}
{%- if lastchance %}
    注意事项:
    这是你最后一次机会了，输出一个最终结果。
{% endif %}
